body {
    /* font-family: 'Courier New', Courier, monospace;
     */
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    /* background-color: rgb(75, 75, 75); */
    background-image: url('/images/bg2.jpeg');
    background-size: 100%;
}

#player {
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: 4.8vw;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 100%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(5, 10vw);
    width: 99.6vw;
    height: auto;
    position: fixed;
    top: 4.8vw;
    left: 0;
}

.grid-items {
    border: 1px solid rgb(215, 214, 214);
}

.grid-goal {
    border: 1px solid blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    background-color:rgb(245, 245, 220);
    font-size: 4vh;
    height: 10vh;
    width: 20vw;
    border-radius: 26% 26% 26% 26% / 80% 80% 80% 80%;
    margin: 3vh 0;
    border: 0.5vw solid rgb(245, 245, 220);
}

.container button:hover {
    cursor: pointer;
    z-index: 3;
}

.win-container {
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.win-message {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 3vw;
}

.win-btns {
    font-size: 1.3rem;
    height: 5vh;
    width: 8vw;
    margin: 0 1vw;
}

.student-name {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;
    color: green
}

#new-game:hover, .skip-btn:hover {
    background-color: rgb(255, 221, 221);
    border: 0.5vw solid rgb(230, 0, 0);
    z-index: 6;
}

#continue-game:hover, .continue-btn:hover, #menu:hover {
    background-color: rgb(231, 255, 229);
    border: 0.5vw solid rgb(0, 196, 10);
    cursor: pointer;
}

#bar {
    color: white;
    font-size: 3vw;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
}

#bar p {
    color: rgb(245, 245, 220);
    margin: 0;
    text-shadow: 2px 2px black;
}

#bar button {
    font-size: 1.3vw;
    z-index: 4;
    height: 5vh;
    width: 8vw;
    margin: 0
}

.win-text {
    color: rgb(245, 245, 220);
    text-shadow: 2px 2px black;
    font-size: 12rem;
}

#goal {
    border-image: url('/images/border.gif') 17% fill;
    border-image-width: 20vw;
}